[Unit]
Description=IOT Webservice (Runs Uvicorn)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
Group=pi  
WorkingDirectory=/home/pi/iot
ExecStart=/home/pi/.local/bin/uvicorn \
        --host pi4.home iotWS:app

[Install]
WantedBy=multi-user.target